## .NET
bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates
project.lock.json

## Secrets
appsettings.Development.json
appsettings.Production.json
appsettings.Staging.json
*.pfx
*.p12

## OS
.DS_Store
Thumbs.db
